.button {
    background-color: transparent;
    border: transparent;
    text-align: center;
    cursor: pointer;

    &:focus {
        border: none;
        outline: none;
        box-shadow: 1px 2px 8px rgba(black, 0.3);
    }

    &.primary {
        color: white;
        background-color: #00adee;
        border: 2px solid transparent;
    }

    &.secondar {
        color: #00adee;
        background-color: white;
    }

    &.padded {
        height: 2rem;
        line-height: 2rem;
        padding: {
            left: 2rem;
            right: 2rem;
        }
    }

}

button {
    @extend .button;
}