@import './styles/layout.scss';
@import './styles/components/button.scss';
@import './styles/components/card.scss';

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEF1EF;
    position: fixed;
    color: #333;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#Navbar {
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    background-color: #1C2D3E;
    position: absolute;
    width: 100vw;
    height: 3rem;
    top: 0;
    left: 0;
    line-height: 3rem;
    color: #EEF1EF!important;

    &:hover {
        // color: white;
    }

    display: flex;
    flex-direction: row;
}

#NavMenu {
    left: 0rem;
    opacity: 1;
    width: 20rem;
    position: absolute;
    background-color: #1C2D3E;

    &.open {
        width: 20rem;
        height: 100%;
        left: 0;
        opacity: 1;
        transition: all .3s ease-in-out;
    }

    .nav-item {
        color: white;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
    }
}

#Footer {
    position: fixed;
    width: 100%;
    background-color: rgba(black, 0.1);
    color: white;
    height: 3rem;
    bottom: 0;
}

input {
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: transparent;
}

label {
    color: rgba(black, 0.5);
    margin-bottom: 0.5rem;
}